<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <!-- ========== Start First About Section ========== -->
       <section class="container-fluid my-5" id="first_section">
        <div >
          <div class="row gy-5">
            <div class="col-md-6 col-sm-12 container p-5 d-flex justify-content-center align-items-center">
             <div class="lh-lg">
                <h2 class="fs-1 ">Our Story</h2>
                <p class="py-4 ">
                  Launced in 2015, Exclusive is South Asia’s premier online shopping
                  makterplace with an active presense in Bangladesh. Supported by
                  wide range of tailored marketing, data and service solutions,
                  Exclusive has 10,500 sallers and 300 brands and serves 3 millioons
                  customers across the region.
                </p>
                <p>
                  Exclusive has more than 1 Million products to offer, growing at a
                  very fast. Exclusive offers a diverse assotment in categories
                  ranging from consumer.
                </p>
             </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <img src="assets/about_Photo.png" class="w-100"/>
            </div>
          </div>
        </div>
      </section>
       
       <!-- ========== End First About Section ========== -->


       <!-- ========== Start Second About Section ========== -->
        <section class="my-5">
            <div class="container pt-5">
                <div class="row gy-5">
                    <div class="col-md-3 col-sm-12">
                       <div class="text-center" class="card_second_section p-4 rounded-3">
                        <i class="fa-solid fa-shop  fs-5 icon" ></i>
                        <p class="pt-4  fs-3 fw-bold">10.5K</p>
                        <p class="text-muted">Sallers active our site</p>
                       </div>
                    </div>

                    <div class="col-md-3 col-sm-12">
                        <div class="text-center" class="card_second_section p-4 rounded-3">
                         <i class="fa-solid fa-dollar-sign fs-5 icon"></i>
                         <p class="pt-4  fs-3 fw-bold">3.3K</p>
                         <p class="text-muted">Mopnthly Produduct Sale</p>
                        </div>
                     </div>



                     <div class="col-md-3 col-sm-12">
                        <div class="text-center" class="card_second_section p-4 rounded-3">
                         <i class="fa-solid fa-suitcase fs-5 icon"></i>
                         <p class="pt-4  fs-3 fw-bold">45.5K</p>
                         <p class="text-muted">Customer active in our site</p>
                        </div>
                     </div>



                     <div class="col-md-3 col-sm-12">
                        <div class="text-center" class="card_second_section p-4 rounded-3">
                         <i class="fa-solid fa-sack-dollar fs-5 icon"></i>
                         <p class="pt-4  fs-3 fw-bold">25K</p>
                         <p class="text-muted">Anual gross sale in our site</p>
                        </div>
                     </div>

                </div>

            </div>



        </section>
       <!-- ========== End Second About Section ========== -->

       <!-- ========== Start Third About Section ========== -->
        <section class="mt-5">
            <div class="container pt-5">
                <div class="row mx-5 gy-5">
                    <div class="col-md-4 col-sm-12">
                        <div class="d-flex justify-content-center align-items-center pt-3 overflow-hidden bg-body-tertiary" style="height: 58%;">
                            <img src="../../../assets/about1.png" class="w-50"/>
                        </div>
                        <h3 class="pt-4">Tom Cruise</h3>
                        <p class="text-muted">Founder & Chairman</p>
                        <div class="pt-2">
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram mx-3"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div> 

                    <div class="col-md-4 col-sm-12">
                        <div class="d-flex justify-content-center align-items-center pt-3 overflow-hidden bg-body-tertiary" style="height: 58%;">
                            <img src="../../../assets/about2.png" style="width: 60%;"/>
                        </div>
                        <h3 class="pt-4">Emma Watson</h3>
                        <p class="text-muted">Managing Director</p>
                        <div class="pt-2">
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram mx-3"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div> 


                    <div class="col-md-4 col-sm-12">
                        <div class="d-flex justify-content-center align-items-center  bg-body-tertiary overflow-hidden" style="height: 58%;padding-top: 17%;">
                            <img src="../../../assets/about3.png" class="w-50"/>
                        </div>
                        <h3 class="pt-4">Will Smith</h3>
                        <p class="text-muted">Product Designer</p>
                        <div class="pt-2">
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram mx-3"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>

                    </div> 

                    
                     
                </div>
            </div>
            <div class="text-center pb-3 text-muted">
                <i class="fa-solid fa-circle"></i>
                <i class="fa-solid fa-circle mx-2"></i>
                <i class="fa-solid fa-circle text-danger"></i>
                <i class="fa-solid fa-circle mx-2"></i>
                <i class="fa-solid fa-circle"></i>
              </div>

        </section>
       
       <!-- ========== End Third About Section ========== -->


       <!-- ========== Start Fourth About Section ========== -->
        <section class="my-5 pb-5" id="fourth_section">
            <div class="container">
                <div class="row mx-5 gy-5" >
                    <div class="col-md-4 col-sm-12 text-center">
                        <i class="fa-solid fa-truck-fast bg-black p-3 rounded-5 fs-5 text-white"></i>
                        <p class="fw-bold fs-5 pt-4">FREE AND FAST DELIVERY</p>
                        <p class="text-muted">Free delivery for all orders over $140</p>
                    </div>

                   

                    <div class="col-md-4 col-sm-12 text-center">
                        <i class="fa-solid fa-headset bg-black p-3 rounded-5 fs-5 text-white"></i>
                        <p class="fw-bold fs-5 pt-4">24/7 CUSTOMER SERVICE</p>
                        <p class="text-muted">Friendly 24/7 customer support</p>
                    </div>


                    <div class="col-md-4 col-sm-12 text-center">
                        <i class="fa-solid fa-check bg-black p-3 rounded-5 fs-5 text-white"></i>
                        <p class="fw-bold fs-5 pt-4">MONEY BACK GUARANTEE</p>
                        <p class="text-muted">We reurn money within 30 days</p>
                    </div>

                </div>
            </div>
        </section>
       
       <!-- ========== End Fourth About Section ========== -->
       
       
       
       
        
        <script src="" async defer></script>
    </body>
</html>