<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <!-- ========== Start Forget Password Section ========== -->
        <section class="my-5 container">
            <div>
                <h2>Forget Password</h2>
                <p class="my-3">Please Enter your email to update your password</p>
                <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword(forgetPasswordForm)">
                    <div class="form-group my-4">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control my-3" id="email" aria-describedby="emailHelp" formControlName="email" placeholder="Enter email">
                        <div class="alert alert-danger" *ngIf="forgetPasswordForm.get('email')?.errors&&forgetPasswordForm.get('email')?.touched">
                            <p *ngIf="forgetPasswordForm.get('email')?.getError('required')">Required Field</p>
                            <p *ngIf="forgetPasswordForm.get('email')?.getError('email')">Email is invalid </p>
                          </div>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>

                    <div class="form-group my-4">
                        <label for="password">New Password</label>
                        <input type="password" class="form-control my-3"  placeholder="Enter new password" formControlName="password">
                        <div class="alert alert-danger" *ngIf="forgetPasswordForm.get('password')?.errors&&forgetPasswordForm.get('password')?.touched">
                            <p *ngIf="forgetPasswordForm.get('password')?.getError('required')">Required Field</p>
                          </div>
                    </div>

                    <button type="submit" class="btn btn-danger" [disabled]="forgetPasswordForm.invalid">Submit</button>
                </form>

            </div>




        </section>
       
       <!-- ========== End Forget Password Section ========== -->
       
        
        <script src="" async defer></script>
    </body>
</html>