<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
<!-- ========== Start 404 Section ========== -->
 <section class='my-5'>
    <div class='d-flex justify-content-center align-items-center text-center' style="height: 70vh;">
        <div>
            <p class="fw-bold" id="notFound">404 Not Found</p>
            <p class="fs-4 py-3">Your visited page not found. You may go home page.</p>
            <a class="btn btn-danger px-5 py-3  text-white mt-3" routerLink="/home">Back to home page</a>
        </div>
    </div>
 </section>
 


<!-- ========== End 404 Section ========== -->

        
        <script src="" async defer></script>
    </body>
</html>